<div class = 'divSAC'>
    <div class="qst">
        <u (click)="Answer(1)">Como eu posso mudar o meu nome?</u>
        <span *ngIf="r1">Início > Configurar > Ver perfil > Editar perfil.</span>
    </div>
    <div class="qst">
        <u (click)="Answer(2)">Como faço para encontrar os meus amigos no Spotify?</u>
        <span *ngIf="r2">Para encontrar seus amigos clique em "Pesquisar" e digite o nome do seu amigo.</span>
    </div>
    <div class="qst">
        <u (click)="Answer(3)">Como eu posso tocar uma música?</u>
        <span *ngIf="r3">Para tocar músicas incríveis, podcasts e muito mais no Spotify, você só precisa do aplicativo ou do nosso web player. </span>
    </div>
    <div class="qst">
        <u (click)="Answer(4)">Como eu faço logout?</u>
        <span *ngIf="r4">Início > Configurar > Sair </span>
    </div>
    <div>Mais dúvidas? Acesse <a style="color: black; text-decoration: underline;" href="https://community.spotify.com/t5/Spotify-Answers/tkb-p/Spotify-Answers?_ga=2.248476997.35507482.1600911974-343916861.1578100909">nossa comunidade</a>!</div>
</div>