<header>
    <nav class="navbar navbar-light bg-light" id="nav0">
      <a class="navbar-brand" routerLink="/home">
      <img id = 'imgLogo' src="../../assets/images/download.png" class="d-inline-block align-top" alt="">
      </a>

      <div>
        <input [(ngModel)]="text" style="border-radius: 16px; padding-left: 8px" type="text" placeholder="Buscar musica">
        <button  style="border-radius: 16px; background: #1ed760;" (click)="search()"><a style="color: black" href="#ex1" rel="modal:open">Pesquisar</a></button>
      </div>

      <div id="ex1" class="modal" style="height: auto; padding: 0;">
        <div *ngFor="let r of results" style="display: flex; flex-direction: row; justify-content: space-between; border-bottom: 1px solid rgb(172, 172, 172); width: 100%; padding: 16px;">
          <div style="width: 50%">
            <div>{{r.name}}</div>
            <div>{{r.artist}}</div>
          </div>
          <div>
            <audio controls>
              <source src={{r.path}} type="audio/ogg">
            </audio>
          </div>
          <hr>
        </div>
        <a style="position: absolute; right: 8px; bottom: 2px;" href="#" rel="modal:close">Ok</a>
      </div>
      <div routerLinkActive="active">
        <a routerLink="/playlists" class = 'spanAjuda'>Playlists</a>
        <a routerLink="/ajuda" class = 'spanAjuda'>Ajuda</a>
        <a *ngIf="!loggedIn" routerLink="/register" class = 'spanAjuda'>Cadastro</a>
        <a *ngIf="!loggedIn" routerLink="/login" class = 'spanAjuda'>Login</a>
        <a routerLink="/profile" *ngIf="loggedIn" class = 'spanAjuda'>{{nick}}</a>
        <a routerLink="/login" *ngIf="loggedIn" class = 'spanAjuda' (click)="logout()"> Sair </a>
      </div>
    </nav>
</header>
