<header>
    <nav class="navbar navbar-light bg-light" id="nav0">
      <a class="navbar-brand" routerLink="/home">
      <img id = 'imgLogo' src="../../assets/images/download.png" class="d-inline-block align-top" alt="">
      </a>

      <div routerLinkActive="active">
        <a routerLink="/playlists" class = 'spanAjuda'>Playlists</a>
        <a routerLink="/ajuda" class = 'spanAjuda'>Ajuda</a>
        <a *ngIf="!loggedIn" routerLink="/register" class = 'spanAjuda'>Cadastro</a>
        <a *ngIf="!loggedIn" routerLink="/login" class = 'spanAjuda'>Login</a>
        <a routerLink="/profile" *ngIf="loggedIn" class = 'spanAjuda'>{{nick}}</a>
        <a routerLink="/login" *ngIf="loggedIn" class = 'spanAjuda' (click)="logout()"> Sair </a>
      </div>
    </nav>
</header>
