<div id="container">

    <div id = "divImage">
    
        <img id="img" src="https://cdn.discordapp.com/attachments/454805467294597142/758640874103635998/Captura_de_tela_2020-09-24_074736.png">

              <div class="card-deck">
                <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Spotify Premium</h3>
                        <h6 class="card-title">R$ 16,90/mês após o período da oferta</h6>
                        <h6 class="card-title">1 conta</h6>
                        <div class = 'bodyCards'>
                            <p class="card-text">Ouça em qualquer lugar — até offline.</p>
                            <p class="card-text">Curta música sem anúncios.</p>
                            <p class="card-text">Toque o que quiser.</p>
                            <p class="card-text">Faça um plano pré-pago ou uma assinatura.</p>
                        </div>
                        <div class = 'divBotao'>
                            <a href="#" class="btn btn-primary btn-lg active botaoConfirmar" role="button" aria-pressed="true">Confirmar</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">O período de 3 meses grátis não está disponível para usuários que já experimentaram o Premium. Sujeito a Termos e condições. Válido até 11 de out de 2020.</small>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Spotify Duo</h3>
                        <h6 class="card-title">Depois, pague apenas R$ 21,90/mês</h6>
                        <h6 class="card-title">2 contas</h6>
                        <div>
                            <p class="card-text">2 contas Premium para um casal que mora junto.</p>
                            <p class="card-text">Duo Mix: uma playlist só pra vocês, atualizada regularmente com músicas que os dois gostam.</p>
                            <p class="card-text">Ouça sem anúncio, no modo offline e sob demanda.</p>
                        </div>
                        <div class = 'divBotao'>
                            <a href="#" class="btn btn-primary btn-lg active botaoConfirmar" role="button" aria-pressed="true">Confirmar</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">O período de 3 meses grátis não está disponível para usuários que já experimentaram o Premium. Sujeito a Termos e condições. Válido até 11 de out de 2020.</small>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Spotify Família</h3>
                        <h6 class="card-title">R$ 26,90/mês após o período da oferta</h6>
                        <h6 class="card-title">Até 6 contas</h6>
                        <div>
                            <p class="card-text">6 contas Premium para familiares que moram no mesmo endereço.</p>
                            <p class="card-text">Family Mix: uma playlist pra família, atualizada regularmente com músicas que todo mundo gosta.</p>
                            <p class="card-text">Bloqueie música explícita.</p>
                            <p class="card-text">Ouça sem anúncio, no modo offline e sob demanda.</p>
                            <p class="card-text">Faça um plano pré-pago ou uma assinatura.</p>
                        </div>
                        <div class = 'divBotao'>
                            <a href="#" class="btn btn-primary btn-lg active botaoConfirmar" role="button" aria-pressed="true">Confirmar</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">O período de 3 meses grátis não está disponível para usuários que já experimentaram o Premium. Sujeito a Termos e condições. Válido até 11 de out de 2020.</small>
                    </div>
                </div>
                <div class="card">
                    <img src="..." class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Spotify Universitário</h3>
                        <h6 class="card-title">R$ 8,50/mês após o período da oferta</h6>
                        <h6 class="card-title">1 conta</h6>
                        <div>
                            <p class="card-text">Desconto especial para estudantes universitários que tenham direito à oferta.</p>
                            <p class="card-text">Curta música sem anúncios.</p>
                            <p class="card-text">Ouça em qualquer lugar — até offline.</p>
                            <p class="card-text">Toque o que quiser.</p>
                        </div>
                        <div class = 'divBotao'>
                            <a href="#" class="btn btn-primary btn-lg active botaoConfirmar" role="button" aria-pressed="true">Confirmar</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">O período de 3 meses grátis não está disponível para usuários que já experimentaram o Premium. Sujeito a Termos e condições. Válido até 11 de out de 2020.</small>
                    </div>
                </div>
             </div>
    </div>
</div>