<div style="display: flex;
justify-content: flex-end;">
    <div id="left">
        <img src="../../assets/images/image0.png" alt="">
        <h1>Olá, mundo.</h1>
    </div>
    <div id="right">
        <iframe height="100" src="https://www.youtube.com/embed/y2ak_oBeC-I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe height="100" src="https://www.youtube.com/embed/Wa5B22KAkEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe height="100" src="https://www.youtube.com/embed/RgKAFK5djSk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe height="100" src="https://www.youtube.com/embed/y2ak_oBeC-I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe height="100" src="https://www.youtube.com/embed/Wa5B22KAkEk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe height="100" src="https://www.youtube.com/embed/RgKAFK5djSk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>