li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
    border: 2px solid #1DB954;
    border-radius: 32px;
    padding: 4px 4px 4px 24px;
    color: black;
    background: #1DB954;
    font-weight: 700;
    font-size: 20px;
}

#info {
    display: flex;
    flex-direction: column;
}

#number {
    
}

#container {
    height: 80vh;
    background: black;
}
audio {
    color: #1DB954;
    outline: 0;
}
span {
    opacity: 0.5;
    font-size: 80%;
    margin-right: 8px;
}
#artist {
    margin-left: 28px;
    margin-top: -10px;
    margin-bottom: 4px;;
}