<div id="container">
    <ul *ngFor="let m of musics; let i = index">
        <li>
            <div id="info">
                <label><span id="number">{{i+1}}.</span> {{m.name}}</label>
                <span id="artist">{{m.artist}}</span>
            </div>
            <audio controls>
                <source src={{m.path}} type="audio/ogg"></audio>
            <div style="position: fixed; right: 16px; font-size: 24px;">
                <a *ngIf="personal" style="color: black; cursor: pointer" (click)="remove(m)">-</a>
            </div>
        </li>
        <span style="cursor: pointer; margin: 16px; color: white;" (click)="add(m, p)"
            *ngFor="let p of playlists"><label style="cursor: pointer" *ngIf="!personal">+ {{p.name}}</label></span>
    </ul>

    <div style="color: red;" *ngIf="noMusics">
        Esta playlist não contém nenhuma musica.
    </div>

</div>