<div class='divRegister'>
    <div>
        <div style="height: 30px;"></div>
        <div>
            <form [formGroup]="fGroup">
                <div>
                    <span class='spanRegistro'>Inscreva-se com seu endereço de e-mail</span>
                </div>
                <div>
                    <input type="email" name="email" [(ngModel)]="email" class="InputEmail" placeholder="E-mail"
                        formControlName="email"><br>
                    <span *ngIf="fGroup.controls.email.hasError('email')"> Email inválido </span>

                    <input (blur)="emailsCompare()" type="email" class="InputConfirmarEmail" [(ngModel)]="confirm_email" name="confirm_email"
                        placeholder="Confirmar e-mail" formControlName="confirm_email">
                    <span *ngIf="fGroup.controls.confirm_email.hasError('email')"> Email inválido </span><br>
                    <span *ngIf="equalEmails"> Emails não coincidem </span>
                    <input type="password" placeholder="Senha" class='InputSenha' formControlName="password"
                        [(ngModel)]="password"><br>
                    <span *ngIf="fGroup.controls.password.hasError('minlength')"> Senha muito curta </span>

                    <input type="text" placeholder="Como devemos chamar você?" class='InputID' formControlName="nick"
                        [(ngModel)]="nick"><br>
                    <span *ngIf="fGroup.controls.nick.hasError('required')"> Obrigatorio* </span>

                </div>
                <div>
                    <input type="text" placeholder="Dia" class='InputDia' [(ngModel)]="day" formControlName="day">
                    <select class='SelectMes' [(ngModel)]="month" formControlName="month">
                        <option>Mês</option>
                        <option>Janeiro</option>
                        <option>Fevereiro</option>
                        <option>Março</option>
                        <option>Abril</option>
                        <option>Maio</option>
                        <option>Junho</option>
                        <option>Julho</option>
                        <option>Agosto</option>
                        <option>Setembro</option>
                        <option>Outubro</option>
                        <option>Novembro</option>
                        <option>Dezembro</option>
                    </select>
                    <input type="text" placeholder="Ano" class='InputAno' [(ngModel)]="year" formControlName="year">
                </div>
                <div>
                    <input type="checkbox" id="masculino" name="masculino"> Masculino
                    <input type="checkbox" id="feminino" name="feminino"> Feminino
                    <input type="checkbox" id="naobinario" name="Não binário"> Não binário
                </div>
                <div class='divBotaoInscrever'>
                    <button [disabled]="!fGroup.valid" class='botaoInscrever' (click)="register()">INSCREVER-SE</button>
                </div>
            </form>
        </div>
    </div>

</div>